*{
      font-family: "Roboto", sans-serif;
}
.active{
      background-color: #0ea5e9;
      color: white;
}
.custom-btn {
  background-color: #0ea5e9;
  color: white;
  border-radius: 6px;          /* rounded-md */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  /* shadow-md */
  border: 1px solid transparent;
  padding: 8px 16px; /* optional */
  transition: all 0.3s ease;
}

.custom-btn:hover {
  background-color: white;
  color: black;
  border-color: #2563eb; 
}
